<div id="main-wrapper">
    <div id="brand" class="semibold">FitManage Tech</div>
    <form (ngSubmit)="submit()" id="login-form" [formGroup]="form">
        <h2 class="text-center">Login</h2>
        @if (globalErrorMessage) {
            <mat-error id="global-error" class="text-center">{{globalErrorMessage}}</mat-error>
        }
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="exemplo@dominio.com" formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>

            @if (form.get('email')?.invalid && form.get('email')?.touched) {
                <mat-error>{{emailErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>

            <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>

            <button type="button" mat-icon-button matSuffix (click)="hideSwitch()" [attr.aria-label]="'Hide password'">
                <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            @if (form.get('password')?.invalid && form.get('password')?.touched) {
                <mat-error>Senha é obrigatória</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || serviceLoading">
            @if (serviceLoading) {
                Carregando...
            } @else {
                Login
            }
        </button>
    <div id="register">
        <span>Não possui uma conta? </span><a routerLink="/register">Cadastre-se!</a>
    </div>
    </form>
</div>