#main-wrapper {
    display: flex;
    padding-top: 1.5rem;
}

#main-section {
    width: calc(100% - 176px);
}

#exercises {
    padding: 1rem;
    padding-left: 20%;
    padding-right: 20%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 7rem;
    position: relative;

    &>* {
        margin: 0;
    }

    &>.icon {
        height: 5rem;
        margin-right: 1rem;
    }

    &>#submit {
        position: absolute;
        right: 1rem;
    }
}

#back-btn {
    margin: 1rem;
}

#input-field {
    flex: 10;
    margin-right: 2rem;
}

#exercises-table {
    margin-bottom: 2rem;
}


.sm-column {
    width: 5rem;
}

.dir-row {
    display: flex;
    flex-direction: row;
}


.separate {
    display: flex;
    justify-content: space-between;
}

.mrg-top-o5 {
    margin-top: .5rem;
}

.line-inputs-wrapper {
    @extend .dir-row;
    @extend .separate;

    flex-wrap: wrap;
    gap: 1rem;

    &>mat-form-field {
        flex: 1 1 0;
    }
}

.mat-success-red:not(:disabled) {
    background-color: rgb(204, 23, 71);
}