mat-toolbar {
    display: flex;
    justify-content: space-between;
}

nav > * {
    margin: 0 1rem;
    color: #005cbb;
    text-decoration: none;
}

#logout {
    color: hsl(0, 100%, 20%);
    background-color: rgb(255, 214, 214);
}
